<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Board</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>example1</td>
            <td>qsa</td>
        </tr>
        <tr>
            <td>example2</td>
            <td>qsa</td>
        </tr>

        <tr>
            <td>example3</td>
            <td>qsa</td>
        </tr>
        <tr>
            <td>example4</td>
            <td>qsa</td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <a class="btn btn-default">작성</a>
    <div class="text-center">
        <ul class="pagination">
            <li><a href="#">1</a> </li>
            <li><a href="#">2</a> </li>
            <li><a href="#">3</a> </li>
            <li><a href="#">4</a> </li>
            <li><a href="#">5</a> </li>
        </ul>
    </div>
</div>
<script src="js/jquery-3.1.1.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
